@page
@model Teachers.Index

@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
    <h1 class="display-4 text-center">Manage Teachers and Subjects</h1>
    <p class="lead text-center">Easily manage and sort teacher and subject information.</p>

    <div class="input-group mb-3">
        <a href="~/teachers/create" class="btn btn-primary">Create Teacher</a>
    </div>

    <div class="input-group mb-3">
        <label class="input-group-text" for="searchBy">Search By</label>
        <select class="form-select" id="searchBy" name="SearchBy">
            <option value="" selected>Choose...</option>
            <option value="Teacher">Teacher</option>
            <option value="Department">Department</option>
            <option value="Subject">Subject</option>
        </select>

        <input type="text" id="keyword" class="form-control" name="Keyword" placeholder="Search...">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2" onclick="search()">Search</button>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">
                    Teacher
                    <div class="btn-group" role="group">
                        <a href="~/teachers/index?sortBy=Teacher&sortAsc=false" type="button" class="btn btn-secondary">&lt;</a>
                        <a href="~/teachers/index?sortBy=Teacher&sortAsc=true" type="button" class="btn btn-secondary">&gt;</a>
                    </div>
                </th>
                <th scope="col">
                    Department
                    <div class="btn-group" role="group">
                        <a href="~/teachers/index?sortBy=Department&sortAsc=false" type="button" class="btn btn-secondary">&lt;</a>
                        <a href="~/teachers/index?sortBy=Department&sortAsc=true" type="button" class="btn btn-secondary">&gt;</a>
                    </div>
                </th>
                <th scope="col">Subjects</th>
                <th scope="col" colspan="3">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var teacher in Model.Teachers)
            {
                <tr>
                    <td>@teacher.Name</td>
                    <td>@teacher.Department</td>
                    <td>
                        @if (teacher.Subjects != null && teacher.Subjects.Any())
                        {
                            <ul class="list-unstyled">
                                @foreach (var subject in teacher.Subjects)
                                {
                                    <li>
                                        &lt;<strong>@subject.Id</strong> - @subject.Title (Credits: @subject.CreditHours)&gt;
                                    </li>
                                }
                            </ul>
                        }
                        else
                        {
                            <div>No subjects assigned</div>
                        }
                    </td>
                    <td>
                        <a href="~/teachers/update?id=@teacher.Id" type="button" class="btn btn-secondary">Edit</a>
                    </td>
                    <td>
                        @if (teacher.IsDeleted == true)
                        {
                            <a href="#" type="button" class="btn btn-primary" onclick="confirmUndelete('@teacher.Id','@teacher.Name')">Undelete</a>
                        }
                        else
                        {
                            <a href="#" type="button" class="btn btn-warning" onclick="confirmSoftDelete('@teacher.Id','@teacher.Name')">Soft Delete</a>
                        }
                    </td>
                    <td>
                        <a href="#" type="button" class="btn btn-danger" onclick="confirmHardDelete('@teacher.Id','@teacher.Name')">Hard Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
        </ul>
    </nav>
</div>

<div class="modal fade" id="hardDeleteModal" tabindex="-1" aria-labelledby="hardDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="hardDeleteModalLabel">Hard delete this Teacher?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to hard delete this teacher?
                <p id="hardDeleteTitle"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <a id="hardDeleteLink" href="#" type="button" class="btn btn-danger">Yes</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="softDeleteModal" tabindex="-1" aria-labelledby="softDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="softDeleteModalLabel">Soft delete this Teacher?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to soft delete this teacher?
                <p id="softDeleteTitle"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <a id="softDeleteLink" href="#" type="button" class="btn btn-warning">Yes</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="unDeleteModal" tabindex="-1" aria-labelledby="unDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="unDeleteModalLabel">Undelete this Teacher?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to undelete this teacher?
                <p id="unDeleteTitle"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <a id="unDeleteLink" href="#" type="button" class="btn btn-primary">Yes</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function search() {
            window.location = "../teachers/index?sortBy=Teacher&sortAsc=false&searchBy=" + $("#searchBy").val() + "&keyword=" + $("#keyword").val();
        }

        function confirmHardDelete(id, name) {
            $("#hardDeleteTitle").html(name);
            $("#hardDeleteLink").attr("href", "/teachers/delete?id=" + id);
            $("#hardDeleteModal").modal('show');
        }

        function confirmSoftDelete(id, name) {
            $("#softDeleteTitle").html(name);
            $("#softDeleteLink").attr("href", "/teachers/soft-delete?id=" + id);
            $("#softDeleteModal").modal('show');
        }

        function confirmUndelete(id, name) {
            $("#unDeleteTitle").html(name);
            $("#unDeleteLink").attr("href", "/teachers/undelete?id=" + id);
            $("#unDeleteModal").modal('show');
        }
    </script>
}
